services:
  db:
    image: mysql:8.0
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_HOST: '%'
      TZ: UTC

      # Проверка и перезапуск контейнера при недоступности
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

    ports:
      - '127.0.0.1:3306:3306'

    volumes:
      - mysql_dev_data:/var/lib/mysql

  backend:
    build:
      context: .

    restart: unless-stopped

    environment:
      # Database
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}

      # App
      NODE_ENV: development
      PORT: 3000

      # Для hot-reload в Docker
      CHOKIDAR_USEPOLLING: 'true'

    ports:
      - '127.0.0.1:3000:3000'

    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
      - pnpm_store:/pnpm/store
    working_dir: /app

    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - .git/
        - action: rebuild
          path: package.json

volumes:
  mysql_dev_data:
  pnpm_store:
  node_modules:

networks:
  default:
    name: dev_network
    driver: bridge
